<?xml version="1.0"?>
<config>
    <modules>
        <Image_Imgmodule>
            <version>3.1.0</version>
        </Image_Imgmodule>
    </modules>
    <global>
        <models>
            <imgmodule>
                <class>Image_Imgmodule_Model</class>
                <resourceModel>imgmodule_resource</resourceModel>
            </imgmodule>
            <imgmodule_resource>
                <class>Image_Imgmodule_Model_Resource</class>
                <entities>
                    <filebase>
                        <table>file_base</table>
                    </filebase>
                </entities>
            </imgmodule_resource>
        </models>
    </global>
    <frontend>
        <routers>
            <imgmodule>
                <use>standard</use>
                <args>
                    <module>Image_Imgmodule</module>
                    <frontName>file</frontName>
                </args>
            </imgmodule>
        </routers>
    </frontend>
</config>
