<?xml version="1.0"?>
<config>
    <modules>
        <Show_CustomConfig>
            <version>0.1.0</version>
        </Show_CustomConfig>
    </modules>
    <global>
        <helpers>
            <customconfig>
                <class>Show_CustomConfig_Helper</class>
            </customconfig>
        </helpers>
    </global>
</config>