<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <show translate="label" module="customconfig">
            <label>HELLO</label>
            <sort_order>100</sort_order>
        </show>
    </tabs>
    <sections>
        <showsections translate="label" module="customconfig">
            <label>Zamówienie testowe</label>
            <tab>show</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <show_group translate="label" module="customconfig">
                    <label>Zamówienie testowe</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <show_input translate="label">
                            <label>Imię klienta: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_input>
                    </fields>
                </show_group>
            </groups>
        </showsections>
    </sections>
</config>