<?xml version="1.0"?>
<config>
    <modules>
        <M2ITS_Orderstatus>
            <version>0.0.1</version>
        </M2ITS_Orderstatus>
    </modules>
    <global>
        <helpers>
            <orderstatus>
                <class>M2ITS_Orderstatus_Helper</class>
            </orderstatus>
        </helpers>
    </global>
</config>