<?xml version="1.0"?>
<config>
    <modules>
        <Tutgrid_AdmGrid>
            <version>0.1</version>
        </Tutgrid_AdmGrid>
    </modules>

    <global>
        <helpers>
            <admgrid>
                <class>Tutgrid_AdmGrid_Helper</class>
            </admgrid>    
        </helpers>
        <blocks>
            <admgrid>
                <class>Tutgrid_AdmGrid_Block</class>
            </admgrid>
        </blocks>
        <models>
            <admgrid>
                <class>Tutgrid_AdmGrid_Model</class>
                <resourceModel>admgrid_mysql4</resourceModel>
            </admgrid>
            <admgrid_mysql4>
                <class>Tutgrid_AdmGrid_Model_Mysql4</class>
                <entities>
                    <textbase>
                        <table>admgrid_textbase</table>
                    </textbase>
                </entities>
            </admgrid_mysql4>       
        </models>
        <resources>
	  		<admgrid_setup>
				<setup>
		  			<module>Tutgrid_AdmGrid</module>
				</setup>
				<connection>
		  			<use>core_setup</use>
				</connection>
	  		</admgrid_setup>
	  		<admgrid_write>
				<connection>
		  			<use>core_write</use>
				</connection>
	  		</admgrid_write>
			<admgrid_read>
				<connection>
		  			<use>core_read</use>
				</connection>
			</admgrid_read>
		</resources>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tutgrid_admgrid before="Mage_Adminhtml">Tutgrid_AdmGrid</tutgrid_admgrid>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <admgrid>admgrid.xml</admgrid>
            </updates>
        </layout>    
    </adminhtml>

</config>
